[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
drf-spectacular = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
gunicorn = "*"
psycopg2 = "*"
cloudinary = "*"
django-cloudinary-storage = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
server          = "python manage.py runserver"
migrate         = "python manage.py migrate"
startapp        = "python manage.py startapp"
makemigrations  = "python manage.py makemigrations"
createsuperuser = "python manage.py createsuperuser"
test            = "python manage.py test"
